Repository Azure/data-api-builder, pull requests merged in 2023-05, with the labels that each got.

#1442 Introducing parameters' DbType before passing on to the database - MsSql
  src/Config/DatabaseObject.cs
  src/Service.Tests/SqlTests/GraphQLSupportedTypesTests/MsSqlGQLSupportedTypesTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/InsertApiTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/MsSqlInsertApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/MySqlInsertApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/PostgreSqlInsertApiTests.cs
  src/Service.Tests/Unittests/ODataASTVisitorUnitTests.cs
  src/Service.Tests/Unittests/SqlQueryExecutorUnitTests.cs
  src/Service/Models/DbConnectionParam.cs
  src/Service/Models/GraphQLFilterParsers.cs
  src/Service/Models/SqlQueryStructures.cs
  src/Service/Parsers/ODataASTVisitor.cs
  src/Service/Resolvers/BaseQueryStructure.cs
  src/Service/Resolvers/CosmosQueryEngine.cs
  src/Service/Resolvers/CosmosQueryStructure.cs
  src/Service/Resolvers/IQueryExecutor.cs
  src/Service/Resolvers/MsSqlQueryExecutor.cs
  src/Service/Resolvers/QueryExecutor.cs
  src/Service/Resolvers/Sql Query Structures/BaseSqlQueryStructure.cs
  src/Service/Resolvers/Sql Query Structures/SqlDeleteQueryStructure.cs
  src/Service/Resolvers/Sql Query Structures/SqlExecuteQueryStructure.cs
  src/Service/Resolvers/Sql Query Structures/SqlInsertQueryStructure.cs
  src/Service/Resolvers/Sql Query Structures/SqlQueryStructure.cs
  src/Service/Resolvers/Sql Query Structures/SqlUpdateQueryStructure.cs
  src/Service/Resolvers/Sql Query Structures/SqlUpsertQueryStructure.cs
  src/Service/Resolvers/SqlMutationEngine.cs
  src/Service/Services/DbTypeHelper.cs
  src/Service/Services/MetadataProviders/MsSqlMetadataProvider.cs
  src/Service/Services/MetadataProviders/MySqlMetadataProvider.cs
  src/Service/Services/MetadataProviders/SqlMetadataProvider.cs
Labels: bug, enhancement, mssql

#1428 Database policy support for PUT/PATCH operations - MsSql
  config-generators/mssql-commands.txt
  config-generators/postgresql-commands.txt
  src/Config/DataApiBuilderException.cs
  src/Service.Tests/SqlTests/GraphQLMutationTests/GraphQLMutationTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/InsertApiTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Patch/MsSqlPatchApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Patch/MySqlPatchApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Patch/PatchApiTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Patch/PostgreSqlPatchApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Put/MsSqlPutApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Put/MySqlPutApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Put/PostgreSqlPutApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Put/PutApiTestBase.cs
  src/Service.Tests/dab-config.MsSql.json
  src/Service.Tests/dab-config.PostgreSql.json
  src/Service/Models/DbResultSet.cs
  src/Service/Resolvers/AuthorizationPolicyHelpers.cs
  src/Service/Resolvers/BaseSqlQueryBuilder.cs
  src/Service/Resolvers/IQueryExecutor.cs
  src/Service/Resolvers/MsSqlQueryBuilder.cs
  src/Service/Resolvers/MsSqlQueryExecutor.cs
  src/Service/Resolvers/MySqlQueryBuilder.cs
  src/Service/Resolvers/PostgresQueryBuilder.cs
  src/Service/Resolvers/QueryExecutor.cs
  src/Service/Resolvers/Sql Query Structures/BaseSqlQueryStructure.cs
  src/Service/Resolvers/Sql Query Structures/SqlInsertQueryStructure.cs
  src/Service/Resolvers/Sql Query Structures/SqlUpsertQueryStructure.cs
  src/Service/Resolvers/SqlMutationEngine.cs
  src/Service/Services/RestService.cs
Labels: enhancement, mssql, auth, rest

#1446 Adding Merge config capabilities
  .gitignore
  src/Cli.Tests/TestHelper.cs
  src/Cli.Tests/UtilsTests.cs
  src/Cli/ConfigGenerator.cs
  src/Cli/Utils.cs
  src/Config/MergeJsonProvider.cs
  src/Config/RuntimeConfigPath.cs
Labels: enhancement, cli

#1451 Executing GraphQL and REST Mutations in a transaction
  src/Service.Tests/SqlTests/GraphQLMutationTests/GraphQLMutationTestBase.cs
  src/Service/Resolvers/MsSqlQueryBuilder.cs
  src/Service/Resolvers/SqlMutationEngine.cs
Labels: mssql pgsql mysql, graphql

#1452 Allow passing a config override file through the configuration endpoint.
  src/Service.Tests/Configuration/ConfigurationTests.cs
  src/Service/Configurations/RuntimeConfigProvider.cs
  src/Service/Controllers/ConfigurationController.cs
Labels: hosting, config, swa-integration

#1493 Fix merge config file not available issue
  src/Cli.Tests/UtilsTests.cs
  src/Cli/Utils.cs
Labels: bug
