Repository Azure/data-api-builder, pull requests merged in 2023-07, with the labels that each got.

#1555 Fixing unintended update to GraphQL operation when updating REST methods
  src/Cli.Tests/EndToEndTests.cs
  src/Cli.Tests/Snapshots/EndToEndTests.TestUpdatingStoredProcedureWithRestMethods.verified.txt
  src/Cli/ConfigGenerator.cs
Labels: cli

#1525 Fixing bug with only __typename in the selection set
  src/Core/Resolvers/Sql Query Structures/SqlQueryStructure.cs
  src/Service.Tests/CosmosTests/MutationTests.cs
  src/Service.Tests/CosmosTests/QueryTests.cs
  src/Service.Tests/SqlTests/GraphQLMutationTests/GraphQLMutationTestBase.cs
  src/Service.Tests/SqlTests/GraphQLMutationTests/MsSqlGraphQLMutationTests.cs
  src/Service.Tests/SqlTests/GraphQLMutationTests/MySqlGraphQLMutationTests.cs
  src/Service.Tests/SqlTests/GraphQLMutationTests/PostgreSqlGraphQLMutationTests.cs
  src/Service.Tests/SqlTests/GraphQLQueryTests/GraphQLQueryTestBase.cs
  src/Service.Tests/SqlTests/GraphQLQueryTests/MsSqlGraphQLQueryTests.cs
  src/Service.Tests/SqlTests/SqlTestHelper.cs
Labels: bug, graphql

#1541 fix init command with environment variable
  src/Cli.Tests/AddEntityTests.cs
  src/Cli.Tests/ConfigGeneratorTests.cs
  src/Cli.Tests/EndToEndTests.cs
  src/Cli.Tests/EnvironmentTests.cs
  src/Cli.Tests/FileSystemUtils.cs
  src/Cli.Tests/InitTests.cs
  src/Cli.Tests/ModuleInitializer.cs
  src/Cli.Tests/TestHelper.cs
  src/Cli.Tests/UpdateEntityTests.cs
  src/Cli.Tests/Usings.cs
  src/Cli.Tests/UtilsTests.cs
  src/Cli/ConfigGenerator.cs
  src/Config/RuntimeConfigLoader.cs
Labels: bug, cli

#1496 Filling gaps in config validation for rest settings for entities
  src/Config/ObjectModel/Entity.cs
  src/Core/Configurations/RuntimeConfigValidator.cs
  src/Service.Tests/GraphQLBuilder/Sql/SchemaConverterTests.cs
  src/Service.Tests/Unittests/ConfigValidationUnitTests.cs
Labels: bug, validation, cli

#1506 Add support for adding base-route for Runtime
  src/Cli.Tests/EndToEndTests.cs
  src/Cli.Tests/TestHelper.cs
  src/Cli.Tests/UtilsTests.cs
  src/Cli/Commands/InitOptions.cs
  src/Cli/ConfigGenerator.cs
  src/Cli/Utils.cs
  src/Config/ObjectModel/ApiType.cs
  src/Config/ObjectModel/AuthenticationOptions.cs
  src/Config/ObjectModel/RuntimeOptions.cs
  src/Core/Configurations/RuntimeConfigValidator.cs
  src/Core/Resolvers/SqlQueryEngine.cs
  src/Core/Services/OpenAPI/OpenApiDocumentor.cs
  src/Service.Tests/Configuration/ConfigurationTests.cs
  src/Service.Tests/TestHelper.cs
  src/Service.Tests/Unittests/ConfigValidationUnitTests.cs
Labels: bug, enhancement
