Repository Azure/data-api-builder, pull requests merged in 2023-08, with the labels that each got.

#1620 Adding application Name for mssql connections
  src/Azure.DataApiBuilder.sln
  src/Cli.Tests/EndToEndTests.cs
  src/Cli.Tests/TestHelper.cs
  src/Cli.Tests/UpdateEntityTests.cs
  src/Cli/Commands/AddOptions.cs
  src/Cli/Commands/InitOptions.cs
  src/Cli/Commands/StartOptions.cs
  src/Cli/Commands/UpdateOptions.cs
  src/Config/Azure.DataApiBuilder.Config.csproj
  src/Config/RuntimeConfigLoader.cs
  src/Core/ProductInfo.cs
  src/Core/Resolvers/CosmosClientProvider.cs
  src/Product/Azure.DataApiBuilder.Product.csproj
  src/Product/ProductInfo.cs
  src/Service.Tests/Configuration/ConfigurationTests.cs
  src/Service.Tests/CosmosTests/CosmosClientTests.cs
  src/Service.Tests/TestHelper.cs
  src/Service.Tests/Unittests/ConfigValidationUnitTests.cs
  src/Service.Tests/Unittests/RuntimeConfigLoaderJsonDeserializerTests.cs
  src/Service.Tests/Unittests/SqlMetadataProviderUnitTests.cs
  src/Service/ProductInfo.cs
Labels: enhancement

#1607 Skip writing the HTTP actions to config file and log warning when REST Methods are configured for tables/views
  src/Cli.Tests/Snapshots/AddEntityTests.AddEntityWithAnExistingNameButWithDifferentCase.verified.txt
  src/Cli.Tests/Snapshots/AddEntityTests.AddEntityWithPolicyAndFieldProperties_70de36ebf1478d0d.verified.txt
  src/Cli.Tests/Snapshots/AddEntityTests.AddEntityWithPolicyAndFieldProperties_9f612e68879149a3.verified.txt
  src/Cli.Tests/Snapshots/AddEntityTests.AddEntityWithPolicyAndFieldProperties_bea2d26f3e5462d8.verified.txt
  src/Cli.Tests/Snapshots/AddEntityTests.AddNewEntityWhenEntitiesEmpty.verified.txt
  src/Cli.Tests/Snapshots/AddEntityTests.AddNewEntityWhenEntitiesNotEmpty.verified.txt
  src/Cli.Tests/Snapshots/EndToEndTests.TestConfigGeneratedAfterAddingEntityWithSourceWithDefaultType.verified.txt
  src/Cli.Tests/Snapshots/EndToEndTests.TestConfigGeneratedAfterAddingEntityWithoutIEnumerables.verified.txt
  src/Cli.Tests/Snapshots/UpdateEntityTests.TestConversionOfSourceObject_a70c086a74142c82.verified.txt
  src/Cli.Tests/Snapshots/UpdateEntityTests.TestConversionOfSourceObject_c26902b0e44f97cd.verified.txt
  src/Cli.Tests/Snapshots/UpdateEntityTests.TestUpdateEntityByAddingNewRelationship.verified.txt
  src/Cli.Tests/Snapshots/UpdateEntityTests.TestUpdateEntityByModifyingRelationship.verified.txt
  src/Cli.Tests/TestHelper.cs
  src/Cli.Tests/UpdateEntityTests.cs
  src/Cli.Tests/UtilsTests.cs
  src/Cli/ConfigGenerator.cs
  src/Cli/Utils.cs
  src/Config/Converters/EntityRestOptionsConverter.cs
  src/Config/ObjectModel/EntityRestOptions.cs
  src/Config/ObjectModel/RuntimeEntities.cs
  src/Core/Authorization/AuthorizationResolver.cs
  src/Core/Configurations/RuntimeConfigValidator.cs
  src/Core/Services/OpenAPI/OpenApiDocumentor.cs
  src/Core/Services/RestService.cs
  src/Service.Tests/Authorization/AuthorizationResolverUnitTests.cs
  src/Service.Tests/Configuration/ConfigurationTests.cs
  src/Service.Tests/GraphQLBuilder/MutationBuilderTests.cs
  src/Service.Tests/GraphQLBuilder/Sql/SchemaConverterTests.cs
  src/Service.Tests/Snapshots/ConfigurationTests.TestReadingRuntimeConfigForMsSql.verified.txt
  src/Service.Tests/Snapshots/ConfigurationTests.TestReadingRuntimeConfigForMySql.verified.txt
  src/Service.Tests/Snapshots/ConfigurationTests.TestReadingRuntimeConfigForPostgreSql.verified.txt
  src/Service.Tests/SqlTests/GraphQLQueryTests/GraphQLQueryTestBase.cs
  src/Service.Tests/TestHelper.cs
  src/Service.Tests/Unittests/ConfigValidationUnitTests.cs
  src/Service.Tests/Unittests/SqlMetadataProviderUnitTests.cs
  src/Service.Tests/dab-config.CosmosDb_NoSql.json
  src/Service.Tests/dab-config.MsSql.json
  src/Service.Tests/dab-config.MySql.json
  src/Service.Tests/dab-config.PostgreSql.json
Labels: cli

#1626 Fix Location Header in POST Response header
  src/Core/Resolvers/SqlMutationEngine.cs
  src/Core/Services/RestService.cs
  src/Service.Tests/Configuration/ConfigurationTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/MsSqlInsertApiTests.cs
  src/Service/Controllers/RestController.cs
Labels: rest

#1647 Fixing bug with handling output columns - MySql
  src/Core/Resolvers/MySqlQueryBuilder.cs
Labels: bug, mysql

#1644 Fix for guid filter in GraphQL
  src/Core/Services/ResolverMiddleware.cs
  src/Service.GraphQLBuilder/GraphQLTypes/SupportedTypes.cs
  src/Service.GraphQLBuilder/GraphQLUtils.cs
  src/Service.GraphQLBuilder/Queries/StandardQueryInputs.cs
  src/Service.GraphQLBuilder/Sql/SchemaConverter.cs
  src/Service.Tests/DatabaseSchema-MsSql.sql
  src/Service.Tests/DatabaseSchema-PostgreSql.sql
  src/Service.Tests/GraphQLBuilder/Sql/SchemaConverterTests.cs
  src/Service.Tests/SqlTests/GraphQLSupportedTypesTests/GraphQLSupportedTypesTestsBase.cs
  src/Service.Tests/SqlTests/GraphQLSupportedTypesTests/MySqlGQLSupportedTypesTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/MsSqlInsertApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/PostgreSqlInsertApiTests.cs
  src/Service.Tests/Unittests/ODataASTVisitorUnitTests.cs
  src/Service/Startup.cs
Labels: bug, graphql
