Repository Azure/data-api-builder, pull requests merged in 2023-09, with the labels that each got.

#1681 Fix Config File Path Issue
  src/Cli/ConfigGenerator.cs
  src/Cli/ConfigMerger.cs
  src/Config/FileSystemRuntimeConfigLoader.cs
  src/Service.Tests/Configuration/AuthenticationConfigValidatorUnitTests.cs
  src/Service.Tests/Unittests/ConfigValidationUnitTests.cs
  src/Service/Startup.cs
Labels: bug

#1596 Preventing update/insert of read-only fields in a table by user
  config-generators/mssql-commands.txt
  config-generators/mysql-commands.txt
  config-generators/postgresql-commands.txt
  src/Config/DatabasePrimitives/DatabaseObject.cs
  src/Core/Resolvers/IQueryBuilder.cs
  src/Core/Resolvers/MsSqlQueryBuilder.cs
  src/Core/Resolvers/MySqlQueryBuilder.cs
  src/Core/Resolvers/PostgresQueryBuilder.cs
  src/Core/Resolvers/Sql Query Structures/BaseSqlQueryStructure.cs
  src/Core/Resolvers/Sql Query Structures/SqlInsertQueryStructure.cs
  src/Core/Resolvers/SqlMutationEngine.cs
  src/Core/Services/MetadataProviders/MySqlMetadataProvider.cs
  src/Core/Services/MetadataProviders/SqlMetadataProvider.cs
  src/Core/Services/RequestValidator.cs
  src/Service.GraphQLBuilder/Sql/SchemaConverter.cs
  src/Service.Tests/DatabaseSchema-MsSql.sql
  src/Service.Tests/DatabaseSchema-MySql.sql
  src/Service.Tests/DatabaseSchema-PostgreSql.sql
  src/Service.Tests/GraphQLBuilder/Sql/SchemaConverterTests.cs
  src/Service.Tests/Snapshots/ConfigurationTests.TestReadingRuntimeConfigForMsSql.verified.txt
  src/Service.Tests/Snapshots/ConfigurationTests.TestReadingRuntimeConfigForMySql.verified.txt
  src/Service.Tests/Snapshots/ConfigurationTests.TestReadingRuntimeConfigForPostgreSql.verified.txt
  src/Service.Tests/SqlTests/RestApiTests/Insert/InsertApiTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/MsSqlInsertApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/MySqlInsertApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/PostgreSqlInsertApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Patch/MsSqlPatchApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Patch/MySqlPatchApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Patch/PatchApiTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Patch/PostgreSqlPatchApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Put/MsSqlPutApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Put/MySqlPutApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Put/PostgreSqlPutApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Put/PutApiTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/RestApiTestBase.cs
  src/Service.Tests/SqlTests/SqlTestHelper.cs
  src/Service.Tests/dab-config.MsSql.json
  src/Service.Tests/dab-config.MySql.json
  src/Service.Tests/dab-config.PostgreSql.json
Labels: bug, mssql pgsql mysql

#1712 Ports the patch fix for missing global REST section in config file (for 0.8.* version) to the main branch
  src/Config/RuntimeConfigLoader.cs
Labels: bug, config

#1630 Mutations on table with triggers - MsSql
  config-generators/mssql-commands.txt
  src/Config/DatabasePrimitives/DatabaseObject.cs
  src/Core/Resolvers/IQueryBuilder.cs
  src/Core/Resolvers/MsSqlQueryBuilder.cs
  src/Core/Services/MetadataProviders/MsSqlMetadataProvider.cs
  src/Core/Services/MetadataProviders/SqlMetadataProvider.cs
  src/Service.Tests/DatabaseSchema-MsSql.sql
  src/Service.Tests/Snapshots/ConfigurationTests.TestReadingRuntimeConfigForMsSql.verified.txt
  src/Service.Tests/SqlTests/GraphQLMutationTests/GraphQLMutationTestBase.cs
  src/Service.Tests/SqlTests/GraphQLMutationTests/MsSqlGraphQLMutationTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/MsSqlInsertApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Patch/MsSqlPatchApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Put/MsSqlPutApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/RestApiTestBase.cs
  src/Service.Tests/dab-config.MsSql.json
Labels: bug, mssql

#1686 Adding support for positive boolean options in CLI
  src/Cli.Tests/ConfigGeneratorTests.cs
  src/Cli.Tests/EndToEndTests.cs
  src/Cli.Tests/InitTests.cs
  src/Cli/Commands/InitOptions.cs
  src/Cli/ConfigGenerator.cs
  src/Config/ObjectModel/CliBool.cs
Labels: enhancement, cli

#1649 Enable Application Insights For Non Hosted Scenario
  src/Auth/Azure.DataApiBuilder.Auth.csproj
  src/Config/ObjectModel/ApplicationInsightsOptions.cs
  src/Config/ObjectModel/RuntimeOptions.cs
  src/Config/ObjectModel/TelemetryOptions.cs
  src/Directory.Packages.props
  src/Product/ProductInfo.cs
  src/Service.Tests/Configuration/ConfigurationTests.cs
  src/Service.Tests/Configuration/TelemetryTests.cs
  src/Service/Azure.DataApiBuilder.Service.csproj
  src/Service/Program.cs
  src/Service/Startup.cs
  src/Service/Telemetry/AppInsightsTelemetryInitializer.cs
Labels: enhancement
