Repository Azure/data-api-builder, pull requests merged in 2023-03, with the labels that each got.

#1344 Passing exception through to the logger rather than stringifying it early.
  src/Service/Startup.cs
Labels: improvement

#1335 Integration tests for database policies
  config-generators/mssql-commands.txt
  config-generators/mysql-commands.txt
  config-generators/postgresql-commands.txt
  src/Service.Tests/SqlTests/RestApiTests/Find/FindApiTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/MsSqlFindApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/MySqlFindApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/PostgreSqlFindApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Patch/MySqlPatchApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Patch/PatchApiTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Put/MsSqlPutApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Put/MySqlPutApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Put/PostgreSqlPutApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Put/PutApiTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/RestApiTestBase.cs
  src/Service.Tests/SqlTests/SqlTestBase.cs
  src/Service.Tests/dab-config.MsSql.json
  src/Service.Tests/dab-config.MySql.json
  src/Service.Tests/dab-config.PostgreSql.json
Labels: pgsql, mssql, mysql, rest, testing

#1351 Replacing Azure storage link with Github links
  .pipelines/build-pipelines.yml
  docs/configuration-file.md
  docs/getting-started/getting-started-azure-mysql-db.md
  docs/getting-started/getting-started-azure-postgresql.md
  docs/getting-started/getting-started-azure-sql.md
  docs/whats-new-0.3.7.md
  docs/whats-new-0.4.11.md
  docs/whats-new-0.5.0.md
  samples/basic-empty-dab-config.json
  schemas/dab.draft.schema.json
  scripts/create-manifest-file.ps1
  scripts/dab-smoke-test-script.ps1
  src/Cli.Tests/TestHelper.cs
  src/Service.Tests/Unittests/RuntimeConfigPathUnitTests.cs
Labels: refactor

#1364 Prohibit specifying primary key route for REST POST requests
  src/Service.Tests/SqlTests/RestApiTests/Insert/InsertApiTestBase.cs
  src/Service.Tests/Unittests/RequestValidatorUnitTests.cs
  src/Service/Services/RequestValidator.cs
  src/Service/Services/RestService.cs
Labels: bug, rest

#1325 Adding database policy support for insert operation - MsSql
  config-generators/mssql-commands.txt
  config-generators/mysql-commands.txt
  config-generators/postgresql-commands.txt
  docs/known-issues.md
  src/Service.Tests/Authorization/AuthorizationHelpers.cs
  src/Service.Tests/SqlTests/GraphQLMutationTests/GraphQLMutationTestBase.cs
  src/Service.Tests/SqlTests/GraphQLMutationTests/MsSqlGraphQLMutationTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/FindApiTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/MsSqlInsertApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Patch/PatchApiTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Put/PutApiTestBase.cs
  src/Service.Tests/SqlTests/SqlTestHelper.cs
  src/Service.Tests/Unittests/ConfigValidationUnitTests.cs
  src/Service.Tests/dab-config.MsSql.json
  src/Service.Tests/dab-config.MySql.json
  src/Service.Tests/dab-config.PostgreSql.json
  src/Service/Configurations/RuntimeConfigValidator.cs
  src/Service/Controllers/RestController.cs
  src/Service/Resolvers/MsSqlQueryBuilder.cs
  src/Service/Resolvers/SqlMutationEngine.cs
Labels: mssql, graphql, rest

#1386 Fix serialization issue for config
  src/Cli.Tests/InitTests.cs
  src/Cli/Utils.cs
Labels: bug, cli
