Repository Azure/data-api-builder, pull requests merged in 2024-05, with the labels that each got.

#2195 Updating order of variable evaluation in Multiple create order helper
  src/Core/Resolvers/MultipleCreateOrderHelper.cs
Labels: bug, Multiple mutations

#2189 Validation to disallow multiple create on related entities backed by same database table
  config-generators/mysql-commands.txt
  src/Core/Resolvers/MultipleCreateOrderHelper.cs
  src/Core/Services/MultipleMutationInputValidator.cs
  src/Service.Tests/Snapshots/ConfigurationTests.TestReadingRuntimeConfigForMySql.verified.txt
  src/Service.Tests/Unittests/MultipleCreateUnitTests/MultipleCreateOrderHelperUnitTests.cs
  src/Service.Tests/dab-config.MySql.json
Labels: Multiple mutations

#2199 Perform recursive authz and request validation only when multiple-create is enabled
  src/Core/Resolvers/SqlMutationEngine.cs
Labels: improvement, Multiple mutations

#2205 Fix support for integer values in float/decimal type columns
  src/Core/Services/ExecutionHelper.cs
  src/Service.Tests/SqlTests/GraphQLSupportedTypesTests/GraphQLSupportedTypesTestsBase.cs
Labels: bug
