Repository Azure/data-api-builder, pull requests merged in 2024-09, with the labels that each got.

#2337 Replace internal references to RuntimeConfig with immutable copies to maintain consistent states
  src/Core/Services/MetadataProviders/CosmosSqlMetadataProvider.cs
  src/Core/Services/OpenAPI/OpenApiDocumentor.cs
Labels: 🔥Hot Reload

#2292 Fix unpredictable behaviour with pagination resolver
  src/Core/Services/ExecutionHelper.cs
  src/Service.Tests/SqlTests/GraphQLPaginationTests/GraphQLPaginationTestBase.cs
  src/Service.Tests/SqlTests/GraphQLPaginationTests/MsSqlGraphQLPaginationTests.cs
  src/Service.Tests/SqlTests/GraphQLPaginationTests/MySqlGraphQLPaginationTests.cs
  src/Service.Tests/SqlTests/GraphQLPaginationTests/PostgreSqlGraphQLPaginationTests.cs
Labels: bug, graphql

#2338 Add design doc for dab configure
  docs/design/dab-configure.md
Labels: documentation, cli

#2356 Refactor Config Loader and Provider for Hot-Reload
  src/Config/ConfigFileWatcher.cs
  src/Config/FileSystemRuntimeConfigLoader.cs
  src/Config/ObjectModel/RuntimeConfig.cs
  src/Config/RuntimeConfigLoader.cs
  src/Core/Configurations/RuntimeConfigProvider.cs
  src/Service.Tests/Unittests/MultiSourceQueryExecutionUnitTests.cs
  src/Service/Startup.cs
Labels: 🔥Hot Reload

#2359 Add log-level property to config schema
  schemas/dab.draft.schema.json
  src/Cli/ConfigGenerator.cs
  src/Config/Converters/LogLevelOptionsConverterFactory.cs
  src/Config/ObjectModel/LogLevelOptions.cs
  src/Config/ObjectModel/RuntimeConfig.cs
  src/Config/ObjectModel/RuntimeOptions.cs
  src/Config/RuntimeConfigLoader.cs
  src/Service.Tests/Configuration/ConfigurationTests.cs
  src/Service.Tests/Unittests/RuntimeConfigLoaderJsonDeserializerTests.cs
  src/Service/Startup.cs
Labels: config

#2384 Create new OpenApi Document in the case of a Hot Reload
  src/Cli/Program.cs
  src/Config/FileSystemRuntimeConfigLoader.cs
  src/Config/HotReloadEventArgs.cs
  src/Config/HotReloadEventHandler.cs
  src/Config/ObjectModel/RuntimeConfig.cs
  src/Config/RuntimeConfigLoader.cs
  src/Core/Services/OpenAPI/IOpenApiDocumentor.cs
  src/Core/Services/OpenAPI/OpenApiDocumentor.cs
  src/Service.Tests/Unittests/ConfigFileWatcherUnitTests.cs
  src/Service.Tests/Unittests/ConfigValidationUnitTests.cs
  src/Service.Tests/Unittests/MultiSourceQueryExecutionUnitTests.cs
  src/Service/Startup.cs
Labels: 🔥Hot Reload
