Repository Azure/data-api-builder, pull requests merged in 2024-02, with the labels that each got.

#2005 Updating Service Connection for publishing dab container images
  .pipelines/build-pipelines.yml
Labels: bug, pipeline, container

#1980 Support environment variable serialization for data source options
  src/Cli.Tests/Snapshots/EndToEndTests.TestAddingStoredProcedureWithRestMethodsAndGraphQLOperations.verified.txt
  src/Cli.Tests/Snapshots/EndToEndTests.TestConfigGeneratedAfterAddingEntityWithSourceAsStoredProcedure.verified.txt
  src/Cli.Tests/Snapshots/EndToEndTests.TestConfigGeneratedAfterAddingEntityWithSourceWithDefaultType.verified.txt
  src/Cli.Tests/Snapshots/EndToEndTests.TestConfigGeneratedAfterAddingEntityWithoutIEnumerables.verified.txt
  src/Cli.Tests/Snapshots/EndToEndTests.TestInitForCosmosDBNoSql.verified.txt
  src/Cli.Tests/Snapshots/EndToEndTests.TestUpdatingStoredProcedureWithRestMethods.verified.txt
  src/Cli.Tests/Snapshots/EndToEndTests.TestUpdatingStoredProcedureWithRestMethodsAndGraphQLOperations.verified.txt
  src/Cli.Tests/Snapshots/InitTests.CosmosDbNoSqlDatabase.verified.txt
  src/Cli.Tests/Snapshots/InitTests.EnsureCorrectConfigGenerationWithDifferentAuthenticationProviders_171ea8114ff71814.verified.txt
  src/Cli.Tests/Snapshots/InitTests.EnsureCorrectConfigGenerationWithDifferentAuthenticationProviders_2df7a1794712f154.verified.txt
  src/Cli.Tests/Snapshots/InitTests.EnsureCorrectConfigGenerationWithDifferentAuthenticationProviders_59fe1a10aa78899d.verified.txt
  src/Cli.Tests/Snapshots/InitTests.EnsureCorrectConfigGenerationWithDifferentAuthenticationProviders_b95b637ea87f16a7.verified.txt
  src/Cli.Tests/Snapshots/InitTests.GraphQLPathWithoutStartingSlashWillHaveItAdded.verified.txt
  src/Cli.Tests/Snapshots/InitTests.MsSQLDatabase.verified.txt
  src/Cli.Tests/Snapshots/InitTests.RestPathWithoutStartingSlashWillHaveItAdded.verified.txt
  src/Cli.Tests/Snapshots/InitTests.TestInitializingConfigWithoutConnectionString.verified.txt
  src/Cli.Tests/Snapshots/InitTests.TestSpecialCharactersInConnectionString.verified.txt
  src/Cli/ConfigGenerator.cs
  src/Config/Converters/DataSourceConverterFactory.cs
  src/Config/ObjectModel/DataSource.cs
  src/Config/RuntimeConfigLoader.cs
  src/Core/Configurations/RuntimeConfigProvider.cs
  src/Service.Tests/CosmosTests/MutationTests.cs
  src/Service.Tests/CosmosTests/TestBase.cs
  src/Service.Tests/Snapshots/ConfigurationTests.TestReadingRuntimeConfigForCosmos.verified.txt
  src/Service.Tests/Snapshots/ConfigurationTests.TestReadingRuntimeConfigForMsSql.verified.txt
  src/Service.Tests/Unittests/RuntimeConfigLoaderJsonDeserializerTests.cs
Labels: config

#1986 Add tests for built_in methods support as default field values
  config-generators/mssql-commands.txt
  config-generators/mysql-commands.txt
  config-generators/postgresql-commands.txt
  src/Service.Tests/DatabaseSchema-MsSql.sql
  src/Service.Tests/DatabaseSchema-MySql.sql
  src/Service.Tests/DatabaseSchema-PostgreSql.sql
  src/Service.Tests/Snapshots/ConfigurationTests.TestReadingRuntimeConfigForMsSql.verified.txt
  src/Service.Tests/Snapshots/ConfigurationTests.TestReadingRuntimeConfigForMySql.verified.txt
  src/Service.Tests/Snapshots/ConfigurationTests.TestReadingRuntimeConfigForPostgreSql.verified.txt
  src/Service.Tests/SqlTests/GraphQLMutationTests/GraphQLMutationTestBase.cs
  src/Service.Tests/SqlTests/GraphQLMutationTests/MsSqlGraphQLMutationTests.cs
  src/Service.Tests/SqlTests/GraphQLMutationTests/MySqlGraphQLMutationTests.cs
  src/Service.Tests/SqlTests/GraphQLMutationTests/PostgreSqlGraphQLMutationTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/InsertApiTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/MsSqlInsertApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/MySqlInsertApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/PostgreSqlInsertApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/RestApiTestBase.cs
  src/Service.Tests/SqlTests/SqlTestHelper.cs
  src/Service.Tests/dab-config.MsSql.json
  src/Service.Tests/dab-config.MySql.json
  src/Service.Tests/dab-config.PostgreSql.json
Labels: mssql pgsql mysql, graphql, test

#2040 fix dataSourceName not found exception in `dab validate`
  src/Cli.Tests/ValidateConfigTests.cs
  src/Cli/ConfigGenerator.cs
  src/Core/Configurations/RuntimeConfigValidator.cs
  src/Service.Tests/Configuration/ConfigurationTests.cs
Labels: bug

#1990 Table name collision bug fix
  src/Core/Services/MetadataProviders/SqlMetadataProvider.cs
  src/Service.Tests/Configuration/ConfigurationTests.cs
  src/Service.Tests/DatabaseSchema-DwSql.sql
  src/Service.Tests/DatabaseSchema-MsSql.sql
  src/Service.Tests/DatabaseSchema-PostgreSql.sql
  src/Service.Tests/SqlTests/RestApiTests/Find/DwSqlFindApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/FindApiTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/MsSqlFindApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/MySqlFindApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/PostgreSqlFindApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/RestApiTestBase.cs
  src/Service.Tests/SqlTests/SqlTestBase.cs
  src/Service.Tests/Unittests/SqlMetadataProviderUnitTests.cs
Labels: bug
