Repository Azure/data-api-builder, pull requests merged in 2024-10, with the labels that each got.

#2391 Hot-Reload dependencies with an enforced order of operations
  src/Config/DabConfigEvents.cs
  src/Config/FileSystemRuntimeConfigLoader.cs
  src/Config/HotReloadEventArgs.cs
  src/Config/HotReloadEventHandler.cs
  src/Config/ObjectModel/RuntimeConfig.cs
  src/Config/RuntimeConfigLoader.cs
  src/Core/Configurations/RuntimeConfigValidator.cs
  src/Core/Resolvers/Factories/MutationEngineFactory.cs
  src/Core/Resolvers/Factories/QueryEngineFactory.cs
  src/Core/Resolvers/Factories/QueryManagerFactory.cs
  src/Core/Resolvers/MsSqlQueryExecutor.cs
  src/Core/Resolvers/MySqlQueryExecutor.cs
  src/Core/Resolvers/PostgreSqlExecutor.cs
  src/Core/Resolvers/QueryExecutor.cs
  src/Core/Resolvers/Sql Query Structures/BaseSqlQueryStructure.cs
  src/Core/Services/MetadataProviders/MetadataProviderFactory.cs
  src/Core/Services/OpenAPI/OpenApiDocumentor.cs
  src/Service.Tests/Configuration/ConfigurationTests.cs
  src/Service.Tests/GraphQLBuilder/MultiSourceBuilderTests.cs
  src/Service.Tests/GraphQLBuilder/MultipleMutationBuilderTests.cs
  src/Service.Tests/Unittests/SqlQueryExecutorUnitTests.cs
Labels: 🔥Hot Reload

#2387 Capitalization Collation Tests
  src/Service.Tests/SqlTests/GraphQLCollationTests/GraphQLCollationTestBase.cs
  src/Service.Tests/SqlTests/GraphQLCollationTests/MsSqlGraphQLCollationTests.cs
  src/Service.Tests/SqlTests/GraphQLCollationTests/MySqlGraphQLCollationTests.cs
  src/Service.Tests/SqlTests/GraphQLCollationTests/PostgreSqlGraphQLCollationTests.cs
Labels: test

#2401 Fix DataSourceName update for HotReload
  src/Config/FileSystemRuntimeConfigLoader.cs
Labels: bug

#2414 AuthN Config V2 -> HotReload Aware Authentication settings in dev mode.
  src/Cli.Tests/TestHelper.cs
  src/Cli/CollectionUtilities.cs
  src/Cli/ConfigGenerator.cs
  src/Config/Azure.DataApiBuilder.Config.csproj
  src/Config/DabChangeToken.cs
  src/Config/FileSystemRuntimeConfigLoader.cs
  src/Config/RuntimeConfigLoader.cs
  src/Core/AuthenticationHelpers/AuthenticationSimulator/SimulatorAuthenticationHandler.cs
  src/Core/AuthenticationHelpers/ClientRoleHeaderAuthenticationMiddleware.cs
  src/Core/AuthenticationHelpers/ConfigureJwtBearerOptions.cs
  src/Core/AuthenticationHelpers/EasyAuthAuthenticationBuilderExtensions.cs
  src/Core/AuthenticationHelpers/EasyAuthAuthenticationDefaults.cs
  src/Core/AuthenticationHelpers/EasyAuthAuthenticationHandler.cs
  src/Core/AuthenticationHelpers/GenericOAuthDefaults.cs
  src/Core/AuthenticationHelpers/SupportedAuthNProviders.cs
  src/Core/Authorization/AuthorizationResolver.cs
  src/Core/Azure.DataApiBuilder.Core.csproj
  src/Core/CollectionUtilities.cs
  src/Core/Configurations/RuntimeConfigProvider.cs
  src/Core/Resolvers/MsSqlQueryBuilder.cs
  src/Core/Resolvers/SqlMutationEngine.cs
  src/Directory.Packages.props
  src/Service.Tests/Authentication/Helpers/RuntimeConfigAuthHelper.cs
  src/Service.Tests/Authentication/Helpers/WebHostBuilderHelper.cs
  src/Service.Tests/Authentication/JwtTokenAuthenticationUnitTests.cs
  src/Service.Tests/Authentication/SimulatorAuthenticationUnitTests.cs
  src/Service.Tests/Authorization/SimulatorIntegrationTests.cs
  src/Service.Tests/Configuration/ConfigurationTests.cs
  src/Service.Tests/Configuration/TelemetryTests.cs
  src/Service.Tests/SqlTests/SqlTestHelper.cs
  src/Service/JwtBearerOptionsChangeTokenSource.cs
  src/Service/Startup.cs
Labels: 🔥Hot Reload

#2417 Add Support for Hot Reload of DataSource Section of Config file.
  src/Core/Resolvers/MsSqlQueryExecutor.cs
  src/Core/Services/MetadataProviders/MetadataProviderFactory.cs
Labels: enhancement, 🔥Hot Reload

#2421 [Enhancement] dab configure --runtime GraphQL in CLI
  src/Cli.Tests/ConfigureOptionsTests.cs
  src/Cli.Tests/EndToEndTests.cs
  src/Cli/Commands/ConfigureOptions.cs
  src/Cli/ConfigGenerator.cs
  src/Cli/Utils.cs
  src/Core/Configurations/RuntimeConfigValidator.cs
  src/Core/Configurations/RuntimeConfigValidatorUtil.cs
  src/Service.Tests/Unittests/ConfigValidationUnitTests.cs
Labels: enhancement, config

#2428 Fix MetadataProvider initialization in Hot Reload and remove duplicate Query Executor reloading
  src/Config/FileSystemRuntimeConfigLoader.cs
  src/Config/HotReloadEventHandler.cs
  src/Config/ObjectModel/RuntimeConfig.cs
  src/Config/RuntimeConfigLoader.cs
  src/Core/Resolvers/MsSqlQueryExecutor.cs
  src/Core/Resolvers/MySqlQueryExecutor.cs
  src/Core/Resolvers/PostgreSqlExecutor.cs
  src/Core/Resolvers/QueryExecutor.cs
  src/Core/Services/MetadataProviders/MetadataProviderFactory.cs
  src/Service.Tests/Caching/CachingConfigProcessingTests.cs
  src/Service.Tests/Unittests/MultiSourceQueryExecutionUnitTests.cs
Labels: bug, 🔥Hot Reload

#2424 Hot Reload File IO -> React to 1 file change notification per file change
  src/Cli/Program.cs
  src/Config/ConfigFileWatcher.cs
  src/Config/FileSystemRuntimeConfigLoader.cs
  src/Config/Utilities/FileUtilities.cs
  src/Service.Tests/Unittests/ConfigFileWatcherUnitTests.cs
Labels: 🔥Hot Reload
