Repository Azure/data-api-builder, pull requests merged in 2024-03, with the labels that each got.

#1983 Feature Flag for Nested Mutations: CLI changes
  schemas/dab.draft.schema.json
  src/Cli.Tests/ConfigGeneratorTests.cs
  src/Cli.Tests/EndToEndTests.cs
  src/Cli.Tests/InitTests.cs
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_09cf40a5c545de68.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_1211ad099a77f7c4.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_17721ef496526b3e.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_181195e2fbe991a8.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_1a73d3cfd329f922.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_215291b2b7ff2cb4.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_2be9ac1b7d981cde.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_35696f184b0ec6f0.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_384e318d9ed21c9c.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_388c095980b1b53f.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_6fb51a691160163b.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_7c4d5358dc16f63f.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_8459925dada37738.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_92ba6ec2f08a3060.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_9efd9a8a0ff47434.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_adc642ef89cb6d18.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_c0ee0e6a86fa0b7e.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_d1e814ccd5d8b8e8.verified.txt
  src/Cli.Tests/Snapshots/InitTests.VerifyCorrectConfigGenerationWithNestedMutationOptions_ef2f00a9e204e114.verified.txt
  src/Cli/Commands/InitOptions.cs
  src/Cli/ConfigGenerator.cs
  src/Config/Converters/GraphQLRuntimeOptionsConverterFactory.cs
  src/Config/Converters/NestedCreateOptionsConverter.cs
  src/Config/Converters/NestedMutationOptionsConverter.cs
  src/Config/ObjectModel/GraphQLRuntimeOptions.cs
  src/Config/ObjectModel/NestedCreateOptions.cs
  src/Config/ObjectModel/NestedMutationOptions.cs
  src/Config/RuntimeConfigLoader.cs
  src/Service.Tests/Configuration/ConfigurationTests.cs
  src/Service.Tests/Multidab-config.MsSql.json
  src/Service.Tests/TestHelper.cs
  src/Service.Tests/Unittests/RuntimeConfigLoaderJsonDeserializerTests.cs
  src/Service.Tests/dab-config.MsSql.json
Labels: cli, Nested mutations

#1902 Multiple-create: Schema generation
  src/Cli.Tests/ModuleInitializer.cs
  src/Config/ObjectModel/Entity.cs
  src/Core/Parsers/EdmModelBuilder.cs
  src/Core/Resolvers/CosmosMutationEngine.cs
  src/Core/Resolvers/Sql Query Structures/SqlInsertQueryStructure.cs
  src/Core/Resolvers/SqlMutationEngine.cs
  src/Core/Services/GraphQLSchemaCreator.cs
  src/Core/Services/MetadataProviders/ISqlMetadataProvider.cs
  src/Core/Services/MetadataProviders/MsSqlMetadataProvider.cs
  src/Core/Services/MetadataProviders/SqlMetadataProvider.cs
  src/Core/Services/OpenAPI/OpenApiDocumentor.cs
  src/Core/Services/RequestValidator.cs
  src/Service.GraphQLBuilder/Directives/ReferencingFieldDirectiveType.cs
  src/Service.GraphQLBuilder/GraphQLNaming.cs
  src/Service.GraphQLBuilder/GraphQLUtils.cs
  src/Service.GraphQLBuilder/Mutations/CreateMutationBuilder.cs
  src/Service.GraphQLBuilder/Mutations/MutationBuilder.cs
  src/Service.GraphQLBuilder/Queries/QueryBuilder.cs
  src/Service.GraphQLBuilder/Sql/SchemaConverter.cs
  src/Service.Tests/Authorization/GraphQL/GraphQLMutationAuthorizationTests.cs
  src/Service.Tests/DatabaseSchema-MsSql.sql
  src/Service.Tests/GraphQLBuilder/MsSqlMultipleMutationBuilderTests.cs
  src/Service.Tests/GraphQLBuilder/MultipleMutationBuilderTests.cs
  src/Service.Tests/GraphQLBuilder/MutationBuilderTests.cs
  src/Service.Tests/GraphQLBuilder/Sql/SchemaConverterTests.cs
  src/Service.Tests/GraphQLBuilder/Sql/StoredProcedureBuilderTests.cs
  src/Service.Tests/ModuleInitializer.cs
Labels: enhancement, mssql, Multiple mutations

#1943 Multiple-create: Authorization
  config-generators/mssql-commands.txt
  src/Core/Authorization/AuthorizationResolver.cs
  src/Core/Resolvers/CosmosMutationEngine.cs
  src/Core/Resolvers/IMutationEngine.cs
  src/Core/Resolvers/SqlMutationEngine.cs
  src/Service.GraphQLBuilder/GraphQLUtils.cs
  src/Service.Tests/Authorization/GraphQL/CreateMutationAuthorizationTests.cs
  src/Service.Tests/Authorization/GraphQL/GraphQLMutationAuthorizationTests.cs
  src/Service.Tests/Snapshots/ConfigurationTests.TestReadingRuntimeConfigForMsSql.verified.txt
  src/Service.Tests/dab-config.MsSql.json
Labels: enhancement, auth, Multiple mutations

#2116 Enable or Disable Multiple Create operation based on feature flag value
  src/Config/ObjectModel/MultipleCreateSupportingDatabaseType.cs
  src/Config/ObjectModel/RuntimeConfig.cs
  src/Core/Services/GraphQLSchemaCreator.cs
  src/Core/Services/MetadataProviders/MsSqlMetadataProvider.cs
  src/Core/Services/MetadataProviders/SqlMetadataProvider.cs
  src/Service.GraphQLBuilder/GraphQLUtils.cs
  src/Service.GraphQLBuilder/Mutations/CreateMutationBuilder.cs
  src/Service.GraphQLBuilder/Mutations/MutationBuilder.cs
  src/Service.Tests/Authorization/GraphQL/CreateMutationAuthorizationTests.cs
  src/Service.Tests/Configuration/ConfigurationTests.cs
  src/Service.Tests/GraphQLBuilder/MultipleMutationBuilderTests.cs
  src/Service.Tests/GraphQLBuilder/MutationBuilderTests.cs
Labels: Multiple mutations

#2052 Fix Performance Issue for filtering on varchar columns in MS_SQL database
  src/Config/DatabasePrimitives/DatabaseObject.cs
  src/Core/Models/DbConnectionParam.cs
  src/Core/Models/GraphQLFilterParsers.cs
  src/Core/Parsers/ODataASTVisitor.cs
  src/Core/Resolvers/BaseQueryStructure.cs
  src/Core/Resolvers/MsSqlQueryExecutor.cs
  src/Core/Resolvers/QueryExecutor.cs
  src/Core/Resolvers/Sql Query Structures/BaseSqlQueryStructure.cs
  src/Core/Resolvers/Sql Query Structures/SqlUpdateQueryStructure.cs
  src/Core/Resolvers/Sql Query Structures/SqlUpsertQueryStructure.cs
  src/Core/Services/MetadataProviders/MsSqlMetadataProvider.cs
  src/Service.Tests/DatabaseSchema-DwSql.sql
  src/Service.Tests/DatabaseSchema-MsSql.sql
  src/Service.Tests/DatabaseSchema-MySql.sql
  src/Service.Tests/DatabaseSchema-PostgreSql.sql
  src/Service.Tests/SqlTests/GraphQLFilterTests/GraphQLFilterTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/DwSqlFindApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/FindApiTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/MsSqlFindApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/MySqlFindApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/PostgreSqlFindApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Insert/MsSqlInsertApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/RestApiTestBase.cs
  src/Service.Tests/Unittests/ODataASTVisitorUnitTests.cs
  src/Service.Tests/Unittests/SerializationDeserializationTests.cs
  src/Service.Tests/Unittests/SqlQueryExecutorUnitTests.cs
Labels: mssql, perf, improvement

#2141 Add new Dockerfile for pipeline container usage
  .pipelines/onebranch/Dockerfile
Labels: container
