Repository Azure/data-api-builder, pull requests merged in 2025-01, with the labels that each got.

#2510 Add Support for Hot Reload of GraphQL Schemas
  src/Config/DabConfigEvents.cs
  src/Config/HotReloadEventHandler.cs
  src/Config/RuntimeConfigLoader.cs
  src/Core/Services/GraphQLSchemaCreator.cs
  src/Service.Tests/Configuration/HotReload/ConfigurationHotReloadTests.cs
  src/Service/Startup.cs
Labels: graphql, 🔥Hot Reload

#2498 Fix mssql filter parser for wildcard characters for `LIKE` query
  src/Core/Resolvers/MsSqlQueryBuilder.cs
  src/Service.Tests/DatabaseSchema-DwSql.sql
  src/Service.Tests/DatabaseSchema-MsSql.sql
  src/Service.Tests/DatabaseSchema-MySql.sql
  src/Service.Tests/DatabaseSchema-PostgreSql.sql
  src/Service.Tests/SqlTests/GraphQLFilterTests/GraphQLFilterTestBase.cs
  src/Service.Tests/SqlTests/GraphQLFilterTests/MsSqlGQLFilterTests.cs
  src/Service.Tests/SqlTests/GraphQLFilterTests/MySqlGQLFilterTests.cs
  src/Service.Tests/SqlTests/GraphQLFilterTests/PostgreSqlGQLFilterTests.cs
  src/Service.Tests/SqlTests/GraphQLMutationTests/GraphQLMutationTestBase.cs
  src/Service.Tests/SqlTests/GraphQLPaginationTests/GraphQLPaginationTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Delete/DwSqlDeleteApiTest.cs
  src/Service.Tests/SqlTests/RestApiTests/Delete/MsSqlDeleteApiTest.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/DwSqlFindApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/FindApiTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/MsSqlFindApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/MySqlFindApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Find/PostgreSqlFindApiTests.cs
  src/Service.Tests/SqlTests/RestApiTests/Patch/PatchApiTestBase.cs
  src/Service.Tests/SqlTests/RestApiTests/Put/PutApiTestBase.cs
Labels: bug, graphql

#2528 Update column validation logic for insert operations when considering request-body-strict
  src/Core/Services/RequestValidator.cs
  src/Service.Tests/SqlTests/RestApiTests/RestBodyNonStrictModeTests/MsSqlRestBodyNonStrictModeTests.cs
Labels: bug
